.premium-bg {
    height: 40%;
    width: 95%;
}

.no-decoration {
    text-decoration: none;
    color: inherit;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

.go-premium {
  color:gray;
}
.go-premium:hover {
  color:orange;
}