.like-song-container {
    width: 100%;
    flex-wrap: wrap;
}
.song-outer-container {
    width: 100%;
}
.song-play-icon {
    bottom: 99px;
    right: 45px;
    border-radius: 50%;
    background-color: green;
}
.song-item-div {
    width: 130px;
   
}
.song-item-card {
    width: 120px;
}
.song-remove-icon {
    right: 2px;
    top: -10px;
    color: gray
}
.song-remove-icon:hover {
    color: red;
}
.song-item-name {
    width: 130px;
    overflow: hidden;
     text-overflow: ellipsis;
    white-space: nowrap;
}
.song-item-artist {
    width: 130px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.artist-see-more-div {
    color: gray
}
.artist-see-more-div:hover {
    color: orange;
    cursor: pointer;
}