.like-song-container {
    width: 90%;
    max-width: 900px;
    flex-wrap: wrap;
}
.song-outer-container {
    width: 90%;
}
.song-play-icon {
    bottom: 93px;
    right: 40px;
    border-radius: 50%;
    background-color: green;
}

.song-item-card {
    width: 120px;
}
.song-remove-icon {
    right: 2px;
    top: -10px;
    color: gray
}
.song-remove-icon:hover {
    color: red;
}