.wd-scrolling-text {
    white-space: nowrap;
    position: relative;
    max-width: 100%;
    /*overflow: hidden;*/
    /*animation: scrolling 8s linear infinite;*/
    /*animation-delay: 2s;*/
    /*z-index: -1;*/

}
.wd-link {
    color: inherit;
    text-decoration: none;
}
.wd-link:hover {
    color: inherit;
    text-decoration: underline;
}

/*@keyframes scrolling {*/
/*    0%, 100% {*/
/*        transform: translateX(50%);*/
/*    }*/
/*    50%{*/
/*        transform: translateX(0%);*/
/*    }*/
/*}*/