.song-container {
    height: 350px;
    overflow-y: auto;
}
.empty-song-cotainer {
height: 300px;
}
.text-no-decoration {
    text-decoration: none;
}
.comment-panel-container {
    height: 400px;
    background-color:  #1f1f1f;
}
.react-rater {
  display: inline-flex;
  flex-direction: row;
  /* color: yellow; */
}