.playlist-bg {
    background-color: gray;
    height: 400px;
    width: 100%;
}

.playlist-cover-pos {
    left: 120px;
    top: 30px;
}

.playlist-cover-edit-pos {
    left: 310px;
    top: 285px;
}
.playlist-cover-text-pos {
    left: 350px;
    top: 20px;
}
.playlist-cover-text-pos-non-edit {
    left: 350px;
    top: 50px;
    font-size: 60px;
}
.wd-albumName {
    left: 30px;
    top: 200px;
    font-size: 60px;
}
.playlist-edit-pos {
    right: 30px;
    top: 20px;
}
.playlist-num-pos {
    right: 70px;
    bottom: 30px;
}
.playlist-confirm-pos {
    right: 120px;
    top: 20px;
}
.playlist-cancel-pos {
    right: 30px;
    top: 20px;
}
.playlist-desc-pos {
    left: 350px;
    top: 150px;
}
.playlist-desc-pos-non-edit {
    left: 350px;
    top: 170px;
}
.playlist-name-input {
    font-size: 60px;
    width: 500px;
    background-color: white !important;
}
.playlist-desc-input {
    width: 500px;
    background-color: white !important;
}

input[type="text"], textarea {
  background-color : lightgrey; 
}

.playlist-cover-cover {
    width: 200px;
    height:200px;
    background-color: grey;
    opacity:0.7;
}

.cover-icon {
    left: 205px;
    top: 115px;
}
.arrow-back-icon {
    left: 10px;
    top: 10px;
}
.arrow-back-icon:hover {
    cursor:pointer
}
.playlist-cover-name-pos {
    right: 20px;
    bottom: 10px;
    color: white;
}
.playlist-cover-name-pos:hover {
    color: orange;
    cursor: pointer;
}