.playlist-bg {
    background-color: gray;
    height: 400px;
    width: 100%;
}

.playlist-cover-pos {
    left: 120px;
    top: 100px;
}

.playlist-cover-edit-pos {
    left: 310px;
    top: 285px;
}
.playlist-cover-text-pos {
    left: 400px;
    top: 100px;
    font-size: 60px;
}
.playlist-edit-pos {
    right: 70px;
    top: 20px;
}
.playlist-num-pos {
    right: 70px;
    bottom: 30px;
}
.playlist-confirm-pos {
    right: 150px;
    top: 20px;
}
.playlist-cancel-pos {
    right: 60px;
    top: 20px;
}
.playlist-desc-pos {
    left: 400px;
    top: 220px;
}
.playlist-name-input {
    width: 700px;
}

input[type="text"], textarea {
  background-color : lightgrey; 
}