.premium-banner {
    height: 200px;
    width: 100%;
    /* background-color: gray; */
}
.premium-banner-text{
    font-size: larger;
    font-weight: bold;
}
.premium-function-div {
    height: 700px;
    width: 100%;
    /* background-color: gray; */
}
.premium-function-card {
    height: 90%;
    width: 100%;
    /* background-color: orange; */
}
.premium-function-text {
    font-size: large;
}
.premium-function-item {
    width: 100%;
}
.plan-hint {
    font-size: large;
}
.plan-hint-total {
    font-size: larger
}
.welcome-div {
    height: 300px;
}