.album-cover-song-num {
    bottom: 10px;
    right: 30px;
}
.upgrade-in-album-div {
    right:20px;
    z-index: 2;
    top:-270px;
}
.album-title-div {
     width: 90px; 
    overflow: hidden;
    text-overflow: ellipsis;
}
.wd-link {
    color: inherit;
    text-decoration: none;
}
.wd-link:hover {
    color: inherit;
    text-decoration: underline;
}