.comment-container {
    margin-top: 100px;
    width: 95%;
    margin-bottom: 50px;
}
.comment-inner-container {
    height: 400px;
    width: 100%;
    background-color: #25232f;
    overflow: auto;
}
.comment-empty-tag {
    height: 309px;
    width: 100%;
    background-color: #25232f;
    overflow: hidden;
}
.description{
    /* width: 200px; */
    max-height: 3em; 
  overflow: hidden; 
  text-overflow: ellipsis; 
}

.border-width{
    width:100%;
}

.border-edge{
    border-bottom: 2px;
    border-color: gray;
    border-style: solid;
}

.comment-delete-icon {
    color: gray;
    right: 15px;
    top: 45px;
}

.comment-delete-icon:hover {
    color: red;
}
.visit-playlist:hover {
    color: orange;
}