.playlist-container {
    margin-top: 100px;
    width: 90%;
}
.playlist-item-box {
    width: 100%;
    margin: 0px;
}
.remove-icon {
    right: 5px;
}

.add-icon {
    height: 100%;
    color: gray;
}
.add-icon:hover {
    color: orange;
}
.playlist-name:hover {
    color: orange;
}
.remove-icon {
color: gray;
}
.remove-icon:hover {
color: red;
}