.navbar-bg {
  position: relative;
  top: 0;
  height: 8vh;
  width: 100%;
  z-index: 100;
  /* position: fixed;
  top: 0;
  left: 15%; */
}

.navbar-text {
  text-decoration: none;
}
.welcome-cell {
  width: 120px;
  overflow: hidden;
  text-overflow: ellipsis;
}
