.avatar-position {
    left: 80px;
    top: 250px;
}
.username-position {
    left: 200px;
    top: 320px;
}
.email-position {
    left: 200px;
    top: 350px;
}
.edit-position {
    top: 330px;
    right: 100px;
}
.input-email {
    width: 200px;
}
.email-input-position{
left: 195px;
    top: 345px;
}
.save-position {
    top: 330px;
    right: 190px;
    width: 80px;
}

.cancel-position {
top: 330px;
    right: 100px;
    width: 80px;
}

.avatar-cover {
    width: 100px;
    height: 100px;
    background-color: grey;
    opacity:0.7;
   left: 80px;
    top: 250px;
}

.avatar-icon {
    left: 115px;
    top: 285px;
}

.playlist-demo-left {
    top: 400px;
    left: 55px;
}
.playlist-demo-middle {
    top: 395px;
    left: 90px;
    z-index: 1;
}
.playlist-demo-right {
    top: 400px;
    left: 135px;
}
.playlist-count {
    top: 350px;
    left: 55px;
}
.create-playlist {
    top: 410px;
    left: 250px;
}

.explore-user {
    top: 560px;
    left: 350px;
}


.user-guest-title {
top: 500px;
    left: 55px;
}
.user-demo-1 {
    top: 550px;
    left: 55px;
}
.user-demo-2 {
    top: 545px;
    left: 90px;
    z-index: 1;
}
.user-demo-3 {
    top: 540px;
    left: 135px;
    z-index: 2;
}

.user-demo-4 {
    top: 545px;
    left: 185px;
    z-index: 1;
}
.user-demo-5 {
    top: 550px;
    left: 230px;
}


.demo-avatar-cover {
    width: 100px;
    height: 100px;
    background-color: grey;
}